



/* well this is hacky, i should make ti only for the list in question..ohwell */

ul {
  list-style:none; 
}

.cart-dropdown { 
  margin: 0;
  padding: 0;
   /* list-style:none; this didnt change... with .cart-dropdown ul { */
    /*width: 300px;
    margin-right: 5px;
    border-radius: 1px;*/ 
  }


#totals { 
  background:#f0f0f0; 
  font-size: 12pt; 
}
/* cant tellif makesdiff*/

#totals span { text-align:right; }

.total-field {
  display: inline-block; 
  /*width: 30%;*/ 
  padding: 0px 7px; 
  /*width: 100px;*/ 
  /*float: left; 
  margin-right: 10px;*/ 
}



/* these used to be in index */

.total-field-nav { 
  color: white; 
  font-size: 12pt; 
  font-weight: normal; 
}

.total-field-nav strong { 
  color: #5bc0de; 
  /*#46b8da;*/
}





.subtotal {text-align: left;}

.quantity {}
.pricesingle {float: left; font-size: 8pt;}
.pricetotal {float: right; font-size: 8pt;}


/* ---------- CART BUTTON ---------- */

#cart-button {
  /* btn-info */
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.cart-icon { 
    /*color: #46b8da;*/ 
    font-size: 16pt; /* 12 */
  }

.cart-count { 
    /*color: #46b8da;*/ 
    font-weight: bold;
    color: lightgrey; font-size: 10pt;
  }

    /* THIS STYLE MAKES IT wider 
  .cart-btn { 
    border-radius: 1px; 
    /*margin-top: 20px;*
    /*padding: 7px; boxy funky*
    padding-left: 8px;  10 goes over 9 is probably too close for iphone 5*
    padding-right: 8px;
    margin-right: 0px;*
  }*/

  /*
  used to be here , now in meap2
  .cart-btn
  .cart-icon
  .cart-count 
  .total-field-nav and .total-field-nav strong 
  */


/* CART MENU/DROPDOWN/LIST */

/* ---------- Items in Cart ---------- */


.cart-item {
  display: block;
}

.carttitle {}

.cart-prices {float: right; font-size: 9pt; padding-right: 2px;}

/* ul .cart-dropdown #cart li .cart-item span .carttitle span cart-prices*/

.empty {
	float: right;
	margin-bottom: 15px;
	display: block;
}





/* ---------- Items listed ---------- */

.item {
	width:100%;
  height: 70px;
  /*padding: 10px;*/
	text-align:left;
	vertical-align: middle;

  /* btn-info */
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.item:hover, .item:focus, .item:active, .item:active,
.open #cart-button 
{
color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;

}

.btn-info:hover, .btn-info:focus,
.btn-info:active, .btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}

.btn-info:active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}

 /* disabled info colors 
  background-color: #5bc0de;
  border-color: #46b8da;
  */




.item-name {
	float: left;
	text-align:left;
	width: 100px;
}

.item-price {
  float: right;
}






.starter-template {
  padding: 25px 5px; /*40px 15px;*/
  text-align: center;
} 

.container {padding: 5px; margin: auto;}


/* BUTTONS FROM BS */

.btn {
  display: inline-block;
  padding: 6px 12px;
  /*height: 50px;*/
  margin-bottom: 0;

  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;

  /*text-align: center;*/
  white-space: nowrap;
  vertical-align: middle;

  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0px; /*4px;*/


  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}


.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover, .btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled, .btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}



  .condensed-menu-btn { 
      font-size: 8pt;
      margin-left: 0px; 
      padding: 5px 3px; 
      margin-right: 5px; 
    }
    
    
    




  