
body, input, select { 
	font:400 12px/1.5em Helvetica, Arial, sans-serif; 
	padding-top: 100px;
}

h1, h2 { margin:20px 0; }
h1:first-child { margin-top:0; }
h1 { font-size:2em; font-weight:700; letter-spacing:-1px; line-height:1em; }
h2 { font-size:1.3em; font-weight:400; }
h3 { font-size:1.2em; font-weight:400; margin:1em 0; }

strong { color:#982056; }
/*ol, ul { padding-left:1.5em; }*/



